<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: requiresDealer -->
<div class="message warning">
    <div data-bind="i18n: 'This order must ship to a licensed firearm dealer (FFL). Choose a dealer for the shipping address.'"></div>
</div>
<!-- /ko -->
<!-- ko if: (requiresDealer() ? dealerLicense() : isCustomerLoggedIn()) -->
<div class="field addresses">
    <div class="control">
        <div class="shipping-address-items">
            <!-- ko foreach: { data: elems, as: 'element' } -->
            <!-- ko if: $parent.isAvailableAddress(element.address()) -->
            <!-- ko template: element.getTemplate() --><!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
</div>
<!-- /ko -->
