<?xml version="1.0"?>
<!--
/**
 * Copyright © Refactored Group (https://www.refactored.group)
 * @copyright Copyright © 2022. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="after_magento_checkout_model_default_config_provider"
                type="RefactoredGroup\AutoFflCheckout\Plugin\Checkout\Model\DefaultConfigProvider"/>
    </type>
    <type name="Magento\Sales\Model\Order\OrderCustomerExtractor">
        <plugin name="after_Customer_order_extractor"
                type="RefactoredGroup\AutoFflCheckout\Plugin\OrderCustomerExtractorPlugin"/>
    </type>
</config>
