<?xml version="1.0"?>
<!--
/**
 * Copyright © Razoyo (https://www.razoyo.com)
 * @copyright Copyright © 2022. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Controller\Index\Index">
        <plugin name="before_guest_proceed_to_checkout"
                type="Razoyo\AutoFflCheckoutMultiShipping\Plugin\Checkout\Controller\Index\Index"/>
    </type>
    <type name="Magento\Multishipping\Controller\Checkout\Addresses">
        <plugin name="before_multishipping_checkout_addresses"
                type="Razoyo\AutoFflCheckoutMultiShipping\Plugin\Multishipping\Controller\Checkout\Addresses"/>
    </type>
    <type name="Magento\Multishipping\Controller\Checkout\AddressesPost">
        <plugin name="before_multishipping_checkout_addresses_post"
                type="Razoyo\AutoFflCheckoutMultiShipping\Plugin\Multishipping\Controller\Checkout\AddressesPost"/>
    </type>
</config>
