<?xml version="1.0"?>
<!--
/**
 * Copyright © Razoyo (https://www.razoyo.com)
 * @copyright Copyright © 2022. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_checkout_index_index">
        <observer name="Razoyo_AutoFflCore_Checkout_Index" instance="Razoyo\AutoFflCore\Observer\Checkout\Index" />
    </event>
    <event name="controller_action_predispatch_checkout_cart_index">
        <observer name="Razoyo_AutoFflCore_Cart_Index" instance="Razoyo\AutoFflCore\Observer\Checkout\Index" />
    </event>
</config>
