<?xml version="1.0"?>
<!--
/**
 * Copyright © Refactored Group (https://www.refactored.group)
 * @copyright Copyright © 2022. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <autoffl>
            <configuration>
                <enabled>1</enabled>
                <store_hash>demo_store_hash</store_hash>
                <google_maps_api_url>https://maps.googleapis.com/maps/api/js</google_maps_api_url>
                <sandbox_mode>0</sandbox_mode>
            </configuration>
            <google_maps>
                <api_key></api_key>
            </google_maps>
        </autoffl>
    </default>
</config>
