<?xml version="1.0"?>
<!--
/**
 * Copyright © Razoyo (https://www.razoyo.com)
 * @copyright Copyright © 2022. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Model\ResourceModel\Address\CollectionFactory">
        <plugin name="razoyo_autoffl_address_collection_factory_plugin" type="Razoyo\AutoFflCore\Plugin\AddressCollectionFactoryPlugin" sortOrder="1" disabled="false"/>
    </type>
</config>
